set timeout=10

menuentry "MAD EL OS - Thai Edition (x86_64)" {
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisodevice=/dev/disk/by-label/%ARCHISO_LABEL% keymap=th layout=th cow_spacesize=2G
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
}

menuentry "MAD EL OS - Thai Edition (x86_64) - Fallback" {
    linux /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisodevice=/dev/disk/by-label/%ARCHISO_LABEL% keymap=th layout=th cow_spacesize=2G - fallback
    initrd /%INSTALL_DIR%/boot/x86_64/initramfs-linux-fallback.img
}
